body {
    margin: 0;
    background:#ebf2d9;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}
#title{
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
}
.nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
    gap: 20px;
    flex-wrap: wrap;
}
.logo h2 {
    margin: 0;
    color: white;
}
.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    transition: 0.3s;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.menu a:hover {
    text-decoration: 2px solid underline;
}
.nav-buttons, .block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    gap: 20px;
    margin: 40px 100px 40px 100px;
    top: 0;
}
.nav-buttons a{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    background: transparent;
    text-decoration: none;
    border: 2px solid #0d4d1b;
    border-radius: 12px;
    color: black;
    transition: 0.3s;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #0d4d1b3c;
    margin: 40px 100px;
    border-radius: 12px;
}
.category h1{
    margin: 16px 0;
    text-align: center;
}
.category p{
    margin: 0 0 16px 0;
    text-align: center;
}
.nav-buttons a:hover {
    background-color: #0d4d1b;
    color: white;
}
.gallery {
    column-count: 5;
    column-gap: 20px;
    margin: 0 100px;
}
.gallery a {
    display: flex;    
    justify-content: center;
    align-items: center;     
    margin-bottom: 20px;
    border-radius: 8px;
}
.gallery a img {
    width: 100%;
    display: flex;
    border-radius: 12px;
}
.gallery img:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
}
.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    column-count: 5;
    column-gap: 20px;
    margin: 200px 0 100px;
}
.gallery {
    column-count: 4;
    column-gap: 20px;
    margin: 0 100px;
}
.gallery a {
    display: flex;    
    justify-content: center;
    align-items: center;     
    margin-bottom: 20px;
    border-radius: 8px;
}
.gallery a img {
    width: 100%;
    display: flex;
    border-radius: 12px;
}
.gallery img:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
}
.button-container {
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: 0.3s;
    background: transparent;
}
.button-container a {
    border-radius: 12px;
    border: 2px solid #0d4d1b;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}
.button-container a:hover {
    color: white;
    background: #0d4d1b;
}
.link-titles {
    margin: 40px 0 40px 0;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 40px 0 0 0;
    padding: 0 100px;
    gap: 20px;
    background: #0d4d1b;
    height: 120px;
    flex-wrap: wrap;
    color: white;
}
i {
    width: 20px;
    height: 20px;
}
.info a{
    text-decoration: none;
    color:white;
}