body {
    margin: 0;
    background: #ebf2d9;
    font-family: "Inter", sans-serif;
}
#title{
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
}
.nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
    gap: 20px;
    flex-wrap: wrap;
}
.logo h2 {
    margin: 0;
    color: white;
}
.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    transition: 0.3s;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.menu a:hover {
    text-decoration: 2px solid underline;
}
.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 44px 100px 20px 100px;
    background: #ebf2d9;
    position: sticky;
    border-bottom: 2px solid #0d4d1b;
    top: 60px;
}
.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 100px;
    align-items: stretch;
}
.movie-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
    max-width: 45%;
}
.movie-card iframe {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 12px 12px 0 0;
}
.details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: #0d4d1b3c;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 0 0 12px 12px;
}
.poster img {
    width: 180px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
}
.text {
    flex: 1 1 300px;
}
.text p {
    text-align: justify;
    font-size: 16px;
    padding-right: 20px;
}
.button-container {
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: 0.3s;
    background: transparent;
}
.button-container a, .nav-buttons a {
    border-radius: 12px;
    border: 2px solid #0d4d1b;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}
.button-container a:hover, .nav-buttons a:hover {
    color: white;
    background: #0d4d1b;
}
.link-titles {
    margin: 40px 0 40px 0;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 40px 0 0 0;
    padding: 0 100px;
    gap: 20px;
    background: #0d4d1b;
    height: 120px;
    flex-wrap: wrap;
    color: white;
}
i {
    width: 20px;
    height: 20px;
}
.info a{
    text-decoration: none;
    color:white;
}